*{margin:0; padding:0; user-select: none;}

#gameDiv 
{
    background-color: transparent;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
}

#pageContainer {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    left:0;
    top:0;
    /* 이건 유니티의 트윈하고 같은거야 */
    transition: left 0.4s;
}

#loginPage 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPage > .inner 
{
    width: 400px;
    height: 45px;
    background-color: rgba(46, 39, 39, 0.8);
    border-radius: 5px;
    display: flex;
    padding: 10px 15px;
}

#loginPage > .inner > input 
{
    flex:4;
    margin-right: 10px;
}
#loginPage > .inner > button 
{
    flex:1;
}

/* startofLobby */
#lobbyPage 
{
    display: flex;
    flex-direction: column;
}
#lobbyPage > .title 
{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lobbyPage > .title > h2 
{
    font-size:35px;
    color:#fff;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}
#lobbyPage > .info-row 
{
    height:50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#lobbyPage > .info-row > .text-box 
{
    color:#fff;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}
#lobbyPage > .info-row > .text-box > .name
{
    font-weight: 800;
}
#lobbyPage > .content-body 
{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    flex:1;
    margin:20px;
    padding: 10px 30px;
    overflow-y: auto;
}

#lobbyPage > .content-body > .room 
{
    width:100%;
    display: flex;
    justify-content: space-between;
    height:40px;
    align-items: center;
    background-color: #fff;
    padding:0px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    /* 커서 손모양으로 변하게 */
    transition: all 0.3s;
}

#lobbyPage > .content-body > .room:hover
{
background-color: rgb(63, 63, 63);
color: #fff;
}

#lobbyPage > .content-body > .room > .light 
{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lobbyPage > .content-body > .room > .light > .circle 
{
    width:25px;
    height:25px;
    border-radius: 50%;
}
#lobbyPage > .content-body > .room > .light > .circle.green 
{
    background: radial-gradient(rgb(91, 190, 77) 4px, rgb(38, 172, 21) 50%);
}
#lobbyPage > .content-body > .room > .light > .circle.red 
{
    background: radial-gradient(rgb(201, 54, 54) 4px, rgb(141, 12, 12) 50%);
}

/* end of Lobby */

#roomPage 
{
    display: flex;
    flex-direction: column;
}
#roomPage > .title-header
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    position:relative;
    color:#fff;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}
#roomPage > .title-header > .menu
{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#roomPage > .content-body{
    flex:1;
    display: flex;
    flex-direction: column;
}

#roomPage >  .content-body > .team-row{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

#roomPage >  .content-body > .team-row > .team{
    width: 45%;
    height: 100%;
    background-color: rgba(255,255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid transparent;
    transition: all 0.2s;
}

#roomPage >  .content-body > .team-row > .team > .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    /* 두꺼운 글씨로 */
    text-shadow: 2px 2px 2px rgba(0, 0, 0,0.4);

}
#roomPage >  .content-body > .team-row > .team.red:hover{
    border: 2px solid #f00;
}
#roomPage >  .content-body > .team-row > .team.blue:hover{
    border: 2px solid #00f;
}

#roomPage >  .content-body > .team-row > .team.red > .title{
    color:rgb(223, 23, 23);
}

#roomPage >  .content-body > .team-row > .team.blue > .title{
    color:rgb(32, 32, 236);
}

#roomPage >  .content-body > .waiting-row{
    height: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 20px;
}
#roomPage >  .content-body > .waiting-row > .user-list
{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display:  flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

#roomPage .user{
    width: 160px;
    height: 40px;
    background-color: #ffff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
    margin-right: 10px;
}

#roomPage .user.my
{
    font-weight: 800;
}

#roomPage .user > .ready{
    border: 1px solid rgb(7, 112, 47);
    border-radius: 4px;
    color: #000;
    padding: 4px 12px;
    transition: all 0.3s;
}
#roomPage .user > .ready.on
{
    background-color: rgb(7, 112, 47);
    color: #fff;
}

#roomPage .user > .ready:hover
{
    background-color: rgb(7, 112, 47);
    color: #fff;
}

/* 기타등등 스타일 */

#tooltip 
{
    position: absolute;
    left:0; top:0;
    background-color: #000;
    color:#fff;
    padding: 8px 12px;
    border-radius: 4px;    
    z-index: 50;
    visibility: hidden;

    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.6s, transform 0.4s;
    transform-origin: left bottom;
}
#tooltip.on 
{
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}
#tooltip > .arrow-box 
{
    width: 15px;
    height: 15px;
    background-color: #000;
    position: absolute;
    bottom:0;
    transform: translateY(50%) rotateZ(45deg);
}

.btn 
{
    color:#fff;
    border: 1px solid transparent;
    padding:4px 8px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 4px;
}

.btn.btn-blue 
{
    background-color: rgb(25, 12, 138);
    border:1px solid rgb(19, 9, 105);
}
.btn.btn-blue:hover 
{
    background-color: rgb(19, 9, 105);
}

.btn.btn-red 
{
    background-color: rgb(179, 19, 14);
    border:1px solid rgb(161, 16, 11);
}
.btn.btn-red:hover 
{
    background-color: rgb(161, 16, 11);
}

input 
{
    border-radius: 4px;
    border:1px solid #ddd;
    padding:4px 8px;
    outline:none;
}